{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/tac/g/tacman/symfony-realworld-example-app/src/Controller/AppController.php</code></li>
        <li>Your template at <code>/home/tac/g/tacman/symfony-realworld-example-app/templates/app/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
